html,body{
	background: #f2f2f2 url(../img/bg.gif) repeat;
}
#main{
	margin-top:50px;
}
#main .colume{
	padding: 10px;
}
.colume .container-fluid{
	padding: 0px;
}
#leftContainer{
	background: #FFFFFF;
	box-shadow:0 1px 2px rgba(0,0,0,0.2) ;
}
.colume .container-fluid .nav{
	background: #f9fafb;
}
.colume .container-fluid .nav a{
	border: none;
	border-radius: 0;
	color: #555;
}
.colume .container-fluid .nav .active a{
	border: none;
	border-radius: 0;
	background:#f0f0f0;
}
.colume .container-fluid .nav a:hover{
	background:#f0f0f0;
}
.panel-default>.panel-heading{
	color: #555555;
	background: #f9fafb;
}
.panel-default>.panel-heading span a{
	color: #999999;
	font-size: 13px;
}
